$path:"http://localhost:8080/dev";
body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,td,div,fieldset,legend,input,textarea,option,p{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    font-family: "微软雅黑";
    color: #34495e;
}
a{
   text-decoration:none;
}
ul{
   list-style-type: none; 
}
input,img,button{
    vertical-align: top;
    border: none;
    outline: 0;
}
