@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, td, div, fieldset, legend, input, textarea, option, p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: "微软雅黑";
  color: #34495e;
}

em, i {
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input, img, button {
  vertical-align: top;
  border: none;
  outline: 0;
}

.clear:after {
  content: "";
  height: 0px;
  overflow: hidden;
  display: block;
  clear: both;
}

a, html {
  color: #34495E;
}

.detail_header {
  width: 100%;
}
.detail_header .header {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
.detail_header .header a {
  display: inline-block;
  width: 160px;
  height: 80px;
  margin-top: 10px;
}
.detail_header .header .center {
  width: 275px;
  display: inline-block;
  height: 80px;
  margin: 20px 0;
  padding: 0 30px;
  border-left: 1px dashed #bbb;
}
.detail_header .header .center .shopinfo {
  display: inline-block;
}
.detail_header .header .center .shopinfo .img1 {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.detail_header .header .center .shopinfo .right {
  float: right;
  width: 200px;
  display: inline-block;
}
.detail_header .header .center .shopinfo .right div {
  display: inline-block;
}
.detail_header .header .center .shopinfo .right .top {
  display: inline-block;
  width: 200px;
  height: 30px;
  font-size: 14px;
  color: #34495E;
}
.detail_header .header .center .shopinfo .right .top p {
  display: inline-block;
  width: 170px;
  height: 25px;
}
.detail_header .header .center .shopinfo .right .top i {
  color: #888;
  font-size: 20px;
}
.detail_header .header .center .shopinfo .right .bottom {
  padding-top: 3px;
  height: 34px;
}
.detail_header .header .formbox {
  width: 485px;
  height: 40px;
  float: right;
  margin-top: 30px;
}
.detail_header .header .formbox form input {
  width: 300px;
  height: 34px;
  border: 3px solid #FF616F;
  float: left;
}
.detail_header .header .formbox form .bt1, .detail_header .header .formbox form .bt2 {
  width: 80px;
  height: 40px;
  background: #FF616F;
  float: left;
  color: #fff;
  font-size: 15px;
}
.detail_header .header .formbox form .bt2 {
  margin-left: 15px;
  color: #FF616F;
  background: #fff;
  border: 2px solid #FF616F;
}

.shopbanner {
  width: 1222px;
  height: 130px;
  background: url("../../img/details/banner.jpg");
}

.shopnav {
  width: 100%;
  height: 35px;
  background: #3C4154;
}
.shopnav ul {
  width: 1200px;
  height: 35px;
  margin: 0 auto;
}
.shopnav ul li {
  position: relative;
  float: left;
}
.shopnav ul li a:hover {
  color: #FF616F;
}
.shopnav ul li a {
  padding: 0 35px;
  color: #fff;
  line-height: 35px;
  font-size: 14px;
}
.shopnav ul li a i {
  font-size: 14px;
  margin-left: 10px;
}
.shopnav ul li ul {
  position: absolute;
  width: 140px;
  z-index: 10;
  background: #3C4154;
  height: auto;
  opacity: 0.9;
  display: none;
  top: 35px;
}
.shopnav ul li ul li {
  float: left;
  padding-left: 15px;
}
.shopnav ul li ul li a {
  font-size: 12px;
}

#content {
  width: 1200px;
  height: auto;
  margin: 20px auto;
}
#content .datail {
  width: 1200px;
  height: 486px;
  border: 1px solid #D5D5D5;
}
#content .datail .left {
  width: 410px;
  height: 486px;
  float: left;
  background: #fff;
}
#content .datail .left .pic {
  position: relative;
  height: 380px;
  width: 380px;
  margin: 20px 15px 0;
}
#content .datail .left .pic img {
  width: 380px;
  height: 380px;
}
#content .datail .left .pic #tools {
  position: absolute;
  opacity: 0.2;
  background: #fff;
  display: none;
}
#content .datail .left .pic #maginfy {
  display: none;
  position: absolute;
  left: 410px;
  top: -20px;
  border: 1px solid #ccc;
  width: 400px;
  height: 406px;
  overflow: hidden;
  box-shadow: 0 0 2px 2px #ccc;
}
#content .datail .left .pic #maginfy img {
  width: 600px;
  height: 600px;
  position: absolute;
}
#content .datail .left .pics {
  width: 100%;
  height: 86px;
}
#content .datail .left .pics ul {
  width: 192px;
  height: 56px;
  padding: 15px 0;
  margin: 0 auto;
}
#content .datail .left .pics ul li {
  float: left;
  width: 50px;
  height: 50px;
  padding: 2px;
  border: 1px solid #ccc;
  margin: 0 4px;
}
#content .datail .left .pics ul li img {
  width: 50px;
  height: 50px;
}
#content .datail .center {
  width: 560px;
  height: 456px;
  float: left;
  background: #fff;
}
#content .datail .center dl {
  padding: 0 0 20px 10px;
  width: 550px;
  height: 404px;
}
#content .datail .center dl dt {
  padding-top: 18px;
  border-bottom: 1px solid #ddd;
}
#content .datail .center dl dt h1 {
  font-size: 16px;
}
#content .datail .center dl dt p {
  color: #999;
  line-height: 18px;
  padding: 3px 0 12px;
}
#content .datail .center dl dd {
  padding-top: 10px;
  min-height: 300px;
  font-size: 14px;
  color: #999;
}
#content .datail .center dl dd ul li {
  padding: 5px 0;
}
#content .datail .center dl dd ul li .marketpri {
  width: 60px;
  color: #666;
}
#content .datail .center dl dd ul li i {
  color: #999;
  font-size: 14px;
}
#content .datail .center dl dd ul li .price {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
}
#content .datail .center dl dd ul .d2 .s1 {
  background: #FF616F;
  padding: 1px 8px;
  border-radius: 3px;
  color: #fff;
  margin-right: 10px;
}
#content .datail .center dl dd ul .d2 .price {
  color: #FF616F;
  font-size: 20px;
  text-decoration: none;
}
#content .datail .center dl dd ul .d2 .timedown {
  margin-left: 40px;
  font-size: 12px;
}
#content .datail .center dl dd ul .d2 .timedown i {
  color: #FF616F;
}
#content .datail .center dl dd ul .d2 .timedown em {
  font-style: normal;
  color: #FF616F;
}
#content .datail .center dl dd ul .sale {
  width: 60px;
  color: #666;
  display: inline-block;
}
#content .datail .center dl dd ul .d3 span em {
  color: #FF616F;
}
#content .datail .center dl dd ul .d4 i {
  color: orange;
}
#content .datail .center dl dd ul .d4 em {
  font-style: none;
  color: #FF616F;
}
#content .datail .center dl dd ul .d4 a:hover {
  text-decoration: underline;
}
#content .datail .center dl dd ul .d4 a {
  color: #999;
}
#content .datail .center dl dd .buy {
  margin-top: 7px;
}
#content .datail .center dl dd .buy .buytop {
  padding: 5px 0;
  width: 100%;
  margin-bottom: 20px;
}
#content .datail .center dl dd .buy .buytop .sale {
  width: 60px;
  color: #666;
  display: inline-block;
  margin-top: 6px;
  height: 100%;
}
#content .datail .center dl dd .buy .buytop div {
  display: inline-block;
}
#content .datail .center dl dd .buy .buytop div i {
  float: left;
  background: #eee;
  color: #777;
  display: inline-block;
  width: 30px;
  height: 32px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
}
#content .datail .center dl dd .buy .buytop div .fa-window-minimize {
  line-height: 23px;
  font-size: 16px;
}
#content .datail .center dl dd .buy .buytop div .count {
  float: left;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  width: 66px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin: 0;
}
#content .datail .center dl dd .buy .buytop div span {
  margin-left: 5px;
  width: 116px;
  height: 21px;
}
#content .datail .center .buybtn {
  padding: 5px 0;
}
#content .datail .center .buybtn a {
  width: 106px;
  height: 24px;
  padding: 7px 20px 9px;
  border: 1px solid #FF616F;
  border-radius: 3px;
  background: #FF616F;
  color: #fff;
}
#content .datail .right {
  width: 205px;
  height: 456px;
  padding: 15px 0;
  float: right;
  background: #eee;
}
#content .datail .right .rightcontent {
  width: 132px;
  margin: 0 auto;
}
#content .datail .right .rightcontent h3 {
  font-weight: normal;
}
#content .datail .right .rightcontent h3 span {
  float: left;
}
#content .datail .right .rightcontent h3 i {
  float: right;
}
#content .datail .right .rightcontent ul {
  width: 132px;
}
#content .datail .right .rightcontent ul li {
  width: 132px;
  height: 132px;
  margin-bottom: 13px;
  position: relative;
}
#content .datail .right .rightcontent ul li a {
  border: 1px solid #ccc;
  width: 130px;
  height: 130px;
  display: inline-block;
}
#content .datail .right .rightcontent ul li a img {
  width: 130px;
  height: 130px;
}
#content .datail .right .rightcontent ul li p {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 120px;
  height: 30px;
  background: #fff;
  opacity: 0.8;
  padding-left: 10px;
  line-height: 30px;
}
#content .datailcontent {
  width: 1200px;
  margin-top: 20px;
  margin-bottom: 40px;
}
#content .datailcontent .lcontent {
  width: 968px;
  border: 1px solid #ccc;
  float: left;
}
#content .datailcontent .lcontent ul {
  width: 968px;
  height: 44px;
  border-bottom: 1px solid #ccc;
}
#content .datailcontent .lcontent ul li {
  height: 44px;
  float: left;
  border-right: 1px solid #ccc;
}
#content .datailcontent .lcontent ul li a {
  padding: 0 30px;
  font-size: 14px;
  color: #34495E;
  line-height: 44px;
}
#content .datailcontent .lcontent ul .li1 {
  border-top: 3px solid red;
  margin-top: -1px;
  height: 43px;
  margin-bottom: -1px;
  background: #fff;
}
#content .datailcontent .lcontent ul .li1 a {
  color: #FF616F;
}
#content .datailcontent .lcontent .dcenter {
  width: 928px;
  padding: 20px;
}
#content .datailcontent .lcontent .dcenter .d {
  margin-bottom: 20px;
}
#content .datailcontent .lcontent .dcenter .dt .table {
  width: 665px;
}
#content .datailcontent .lcontent .dcenter .dt .table tr {
  height: 36px;
}
#content .datailcontent .lcontent .dcenter .dt .table tr td {
  border: 1px solid #ccc;
  padding: 0 5px;
}
#content .datailcontent .lcontent .dcenter .dc {
  width: 928px;
  height: 109px;
  margin-bottom: 20px;
}
#content .datailcontent .lcontent .dcenter .dc p {
  width: 928px;
  line-height: 24px;
  font-size: 14px;
}
#content .datailcontent .lcontent .dcenter .db {
  width: 928px;
  text-align: center;
}
#content .datailcontent .lcontent .dcenter h2 {
  width: 898px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 27px;
  height: 27px;
  margin-bottom: 10px;
  background: url(../../img/details/title_bg.png) no-repeat;
}
#content .datailcontent .lcontent .dcenter h2 span {
  color: #fff;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point {
  width: 898px;
  height: 134px;
  padding: 15px;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft {
  width: 520px;
  height: 120px;
  float: left;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft .pfbox {
  border-right: 1px solid #ccc;
  width: 158px;
  height: 115px;
  float: left;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft .pfbox .lefttop {
  height: 40px;
  font-size: 24px;
  text-align: center;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft .pfbox .lefttop b {
  color: #FF616F;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft .pfbox .leftcenter {
  text-align: center;
  width: 128px;
  height: 22px;
  margin: 10px auto;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft .pfbox .leftcenter i {
  font-size: 22px;
  color: #FF616F;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft .pfbox .leftbottom {
  text-align: center;
  height: 25px;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft .pfbox .leftbottom em {
  color: #FF616F;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft ul {
  width: 360px;
  height: 116px;
  float: left;
  border: 0;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft ul li {
  height: 20px;
  border-right: 0;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft ul li i {
  vertical-align: bottom;
  width: 110px;
  float: left;
  text-align: right;
  display: inline-block;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft ul li p {
  vertical-align: bottom;
  display: inline-block;
  float: left;
  width: 200px;
  height: 14px;
  background: #ccc;
  margin: 3px 0;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft ul li p span {
  background: #FF616F;
  height: 14px;
  width: 98%;
  display: inline-block;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cleft ul li em {
  float: left;
  margin-left: 10px;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cright {
  width: 360px;
  height: 134px;
  float: right;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cright p {
  height: 42px;
  font-size: 14px;
}
#content .datailcontent .lcontent .dcenter2 .cmt_point .cright a {
  display: inline-block;
  padding: 0 18px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  background: #FF616F;
  border-radius: 3px;
}
#content .datailcontent .lcontent .dcenter2 .commentbox {
  width: 928px;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .title {
  width: 888px;
  height: 45px;
  padding: 0 20px;
  background: #CCCCCC;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .title div {
  float: right;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .title div p {
  line-height: 45px;
  font-size: 14px;
  color: #fff;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .title div p em {
  color: #FF616F;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .title div .all {
  float: left;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .title div .hasimg {
  float: left;
  margin-left: 20px;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .commcontent {
  width: 928px;
  padding-top: 20px;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .commcontent .c1 {
  width: 928px;
  height: 100px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .commcontent .c1 .left_c1 {
  width: 60px;
  height: 100px;
  padding-left: 10px;
  float: left;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .commcontent .c1 .left_c1 img {
  width: 60px;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .commcontent .c1 .right_c1 {
  width: 830px;
  height: 99px;
  float: right;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .commcontent .c1 .right_c1 .r1_c1_top {
  width: 830px;
  height: 23px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 12px;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .commcontent .c1 .right_c1 .r1_c1_top .x1 {
  width: 300px;
  height: 18px;
  float: left;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .commcontent .c1 .right_c1 .r1_c1_top .x1 .jifu {
  margin-left: 15px;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .commcontent .c1 .right_c1 .r1_c1_top .x2 {
  width: 240px;
  height: 23px;
  float: right;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .commcontent .c1 .right_c1 .r1_c1_top .x2 .star i {
  color: #FF616F;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .commcontent .c1 .right_c1 .r1_c1_top .x2 .time {
  float: right;
  width: 130px;
  text-align: right;
  display: inline-block;
}
#content .datailcontent .lcontent .dcenter2 .commentbox .commcontent .c1 .right_c1 p {
  height: 48px;
}
#content .datailcontent .right {
  width: 206px;
  float: right;
}
#content .datailcontent .right .box {
  border: 1px solid #ccc;
  width: 204px;
  margin-bottom: 20px;
}
#content .datailcontent .right .box .title {
  border-bottom: 1px solid #ccc;
}
#content .datailcontent .right .box .title p {
  float: left;
  width: 130px;
  margin: 15px 0 15px 17px;
  border-left: 3px solid #FF616F;
  padding-left: 5px;
}
#content .datailcontent .right .box .title a {
  height: 44px;
  display: inline-block;
  color: #FF616F;
  font-size: 12px;
  margin-right: 8px;
  line-height: 44px;
}
#content .datailcontent .right .box .content {
  width: 176px;
  margin: 0 auto;
}
#content .datailcontent .right .box .content dl {
  height: 189px;
  padding-bottom: 14px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: -1px;
}
#content .datailcontent .right .box .content dl dt {
  height: 120px;
  padding-top: 10px;
  text-align: center;
}
#content .datailcontent .right .box .content dl dt img {
  height: 120px;
}
#content .datailcontent .right .box .content dl dd {
  width: 100%;
}
#content .datailcontent .right .box .content dl dd .p1:hover {
  color: #FF616F;
}
#content .datailcontent .right .box .content dl dd .p1 {
  height: 36px;
}
#content .datailcontent .right .box .content dl dd .p2 {
  height: 21px;
  margin-top: 2px;
}
#content .datailcontent .right .box .content dl dd .p2 .nowprice {
  color: #FF616F;
  float: left;
}
#content .datailcontent .right .box .content dl dd .p2 .price {
  text-decoration: line-through;
  float: right;
}

#content .datailcontent .lcontent .pagination {
  display: inline-block;
  width: auto;
}
#content .datailcontent .lcontent .pagination li {
  border-right: 0;
}
#content .datailcontent .lcontent .pagination li a {
  padding: 0 20px;
}

.pagenav {
  text-align: center;
}
.pagenav .pageJump input {
  vertical-align: middle;
}

.coverbox {
  width: 374px;
  height: 193px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 1px #ccc;
  border-radius: 5px;
  position: fixed;
  top: 230px;
  left: 450px;
  background: #fff;
  display: none;
}
.coverbox .remove {
  float: right;
  margin-right: 15px;
  margin-top: 3px;
  width: 23px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #CCCCCC;
}
.coverbox .box {
  clear: both;
  width: 274px;
  height: 122px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.coverbox .box .cov_title {
  width: 274px;
  height: 60px;
  margin-bottom: 20px;
}
.coverbox .box .cov_title i {
  display: inline-block;
  width: 40px;
  height: 45px;
  margin-right: 15px;
  color: lightgreen;
  font-size: 40px;
  vertical-align: middle;
}
.coverbox .box .cov_title span {
  vertical-align: middle;
  font-size: 20px;
}
.coverbox .box .cov_content {
  width: 274px;
  height: 42px;
}
.coverbox .box .cov_content .continue {
  width: 76px;
  height: 20px;
}
.coverbox .box .cov_content span {
  margin-right: 60px;
}
.coverbox .box .cov_content span a {
  color: cornflowerblue;
}
.coverbox .box .cov_content .calcul {
  width: 96px;
  height: 30px;
  padding: 5px 20px;
  border: 1px solid #FF616F;
  background: #FF616F;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
}
