@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd, td, div, fieldset, legend, input, textarea, option, p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: "微软雅黑";
  color: #34495e;
}

em, i {
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input, img, button {
  vertical-align: top;
  border: none;
  outline: 0;
}

.clear:after {
  content: "";
  height: 0px;
  overflow: hidden;
  display: block;
  clear: both;
}

a, html {
  color: #34495E;
}

.head {
  width: 100%;
  height: 100%;
  background: #222;
}
.head .hd_br {
  position: relative;
  width: 826px;
  height: 57px;
  margin: 0 auto;
  padding-left: 182px;
}
.head .hd_br a {
  color: #fff;
}
.head .hd_br .logo {
  position: absolute;
  height: 68px;
  width: 182px;
  top: 0;
  left: 0;
}
.head .hd_br .logo a {
  height: 68px;
  width: 182px;
  display: inline-block;
  background: url(../../img/register/loginlogo.png) no-repeat;
}
.head .hd_br .hd_lbar {
  float: left;
  display: inline-block;
  height: 17px;
  widows: 48px;
  padding: 20px 12px;
  color: #fff;
}
.head .hd_br .hd_rbar {
  float: right;
}
.head .hd_br .hd_rbar a {
  line-height: 57px;
  margin-right: 12px;
}
.head .hd_br .hd_rbar span {
  color: #fff;
  line-height: 57px;
}
